<a href="https://colab.research.google.com/github/tcheiporigo/IAProject/blob/main/Entrainement_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importation des librairies

In [11]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('/fer2013.csv')

label = {0: 'faché',
         1: 'Dégoût',
         2: 'Peur',
         3: 'Joie',
         4: 'Tristesse',
         5: 'Surprise',
         6: 'Neutre'}

In [18]:
df.shape

(32138, 3)

In [19]:
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [22]:
df = df.drop(columns=['Usage'])

In [24]:
df.head()

   emotion                                             pixels
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1        0  151 150 147 155 148 133 111 140 170 174 182 15...
2        2  231 212 156 164 174 138 161 173 182 200 106 38...
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...